html,
body
	color white
	font-size 16px
	line-height 1.5
	font-weight 400
	font-family M
	background-color black

h1, h2, h3, h4, h5, h5
	font-weight 400
	font-family BB

svg
	fill currentColor
	display block
	height 100%
	width 100%
	position absolute
	top 0
	left 0

img
	max-width 100%
	display block


a
	color inherit
	text-decoration none

*
	box-sizing border-box


body
	padding-top header-height + 10em

	+below('m')
		padding-top header-height-mobile + 7em

	+below('s')
		padding-top header-height-mobile + 4em

	&.nav-open
		overflow hidden

	&.our-work-page
		padding-top header-height
		+below('m')
			padding-top header-height-mobile
