@font-face {
  font-family: 'Brown Bold';
  src: url('fonts/Brown-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Brown-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Brown-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Brown-Bold.svg#bc16b9b0db9ef0f1430dd17d45a4b42f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brown';
  src: url('fonts/Brown-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Brown-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Brown-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Brown-Regular.svg#e8bb100efb3d47ffea678fdff45642f8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('fonts/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CircularStd-Book.woff') format('woff'), /* Modern Browsers */
       url('fonts/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Moderat Bold';
  src: url('fonts/Moderat-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Moderat-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Moderat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Moderat-Bold.svg#a33669d08b997ccfa6b6dce6c7e23df3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Moderat';
  src: url('fonts/Moderat-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Moderat-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Moderat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Moderat-Regular.svg#74af4dbcfbd938008c7e8d0f301642a4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/MyriadPro-Regular.svg#b6b933d6eeb92d33db4fad36c45b0bff') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
