---
layout: default
title: Our work
body-class: our-work-page
---


{% assign projects = site.projects | sort: "order" %}

{% for project in projects %}
	<section class="LatestWork">
		<div class="LatestWork-background" style="background-image: url({{site.baseurl}}/assets/images/{{project.poster}});"></div>
		<a href="{{site.baseurl}}{{project.url}}" class="LatestWork-content">
			<div class="LatestWork-heading">
			</div>
			<div href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="LatestWork-workTitle">
				{{ project.home-text }}
			</div>
			<div class="LatestWork-footer">
				<div href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="NextButton">
					{% include Arrow.html %}
				</div>
			</div>
		</a>
	</section>
{% endfor %}

<section class="FromArchive">
	<div class="FromArchive-header">
		<h3 class="FromArchive-heading">
			From our archive
		</h3>
		<a href="{{site.baseurl}}/archive" title="Archive">See all +</a>
	</div>

	<ul class="FromArchive-list">
{% assign archives = site.archive | sort: "order" %}
{% for archive in archives limit:8 %}
		<li class="FromArchive-item">
			<a href="{{archive.url}}" class="FromArchive-link">
				{{archive.title}}
				<sup class="FromArchive-super">
					(via Clemenger BBDO)
				</sup>
			</a>
		</li>
{% endfor %}
	</ul>

</section>
