---
layout: default
title: Our work
body-class: our-work-page
---


{% assign projects = site.projects | sort: "order" %}

{% for project in projects %}
	<section class="LatestWork">
		<div class="LatestWork-background" style="background-image: url({{site.baseurl}}/assets/images/{{project.poster}});"></div>
		<a href="{{site.baseurl}}{{project.url}}" class="LatestWork-content">
			<div class="LatestWork-heading">
			</div>
			<div href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="LatestWork-workTitle">
				{{ project.home-text }}
			</div>
			<div class="LatestWork-footer">
				<div href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="NextButton">
					{% include Arrow.html %}
				</div>
			</div>
		</a>
	</section>
{% endfor %}
	<section class="Brands">
		<h4 class="Brands-heading">
			Brands we’ve had experience with
		</h4>
		<picture class="Brands-logos">
			<source srcset="{{site.baseurl}}/assets/images/worked-with-logos.svg" type="image/svg+xml" media="(min-width: 800px)">
			<source srcset="{{site.baseurl}}/assets/images/worked-with-logos-mobile.svg" type="image/svg+xml" media="(max-width: 800px)">
			<img src="{{site.baseurl}}/assets/images/worked-with-logos.svg" alt="List of brand logos">
		</picture>
	</section>
