---
layout: default
title: Our work
body-class: our-work-page
---


{% assign projects = site.projects | sort: "order" %}

{% for project in projects %}
	<section class="LatestWork">
		<div class="LatestWork-background" style="background-image: url({{site.baseurl}}/assets/images/{{project.poster}});"></div>
		<div class="LatestWork-content">
			<div class="LatestWork-heading">
			</div>
			<a href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="LatestWork-workTitle">
				{{ project.home-text }}
			</a>
			<div class="LatestWork-footer">
				<a href="{{site.baseurl}}{{project.url}}" title="{{project.title}}" class="NextButton">
					{% include Arrow.html %}
				</a>

				<div class="UpArrow UpArrow--down js-scroll-down">
					<svg class="icon">
						<use xlink:href="#up-arrow"></use>
					</svg>
				</div>
			</div>
		</div>
	</section>
{% endfor %}
	<section class="Brands">
		<h4 class="Brands-heading">
			Brands we’ve worked with
		</h4>

		<div class="Brands-logos">
			<svg class="icon worked-with-logos">
				<use xlink:href="#worked-with-logos"></use>
			</svg>
		</div>


	</section>
