---
layout: default
title: Who we are
---

<section class="Team">
	<h3 class="Team-heading">
		Who we are
	</h3>
	<ul class="Team-members">
{% for member in site.data.team %}
		<li class="Team-member">
			<img src="{{site.baseurl}}/assets/images/{{member.image}}" class="Team-memberProfile" alt="Profile Image - {{member.name}}">
			<div class="Team-memberBio">
				<p class="Team-memberName"><strong>{{member.name}}</strong></p>
				<p class="Team-memberPosition"><strong>{{member.title}}</strong></p>
				<br>
				<p>
					{{member.bio}}
				</p>
				<p>
					<span class="email-arrow">
						<svg class="icon">
							<use xlink:href="#email-arrow"></use>
						</svg>
					</span>
					<a href="mailto:{{member.email}}" title="Email {{member.name}}">{{member.email}}</a>
				</p>
			</div>
		</li>
{% endfor %}
	</ul>
</section>
<section class="About">
	<h3 class="About-heading">
		Contact Us
	</h3>
	<div class="About-text">
		<address>
			<a href="mailto:hello@sdwm.com.au">hello@sdwm.com.au</a><br>
			104 Dover Street,<br>
			Cremorne, Victoria 3121<br>
		</address>
		<div class="Social">
			{% if site.data.social.twitter %}
			<a href="{{site.data.social.twitter}}" target="_blank" class="Social-link" title="Twitter">
				<svg class="icon social-twitter">
					<use xlink:href="#social-twitter"></use>
				</svg>
			</a>
			{% endif %}
			{% if site.data.social.instagram %}
			<a href="{{site.data.social.instagram}}" target="_blank" class="Social-link" title="Instagram">
				<svg class="icon social-instagram">
					<use xlink:href="#social-instagram"></use>
				</svg>
			</a>
			{% endif %}
		</div>
	</div>
</section>
