.About
	@extend .Section
	display flex
	flex-direction row

	+below('m')
		flex-direction column

	&-heading
		flex-basis 53%
		font-family BB
		font-size 1.875em
		line-height 1
		margin 0
		padding 0

	&-text
		flex-basis 47%
		font-size 0.875em
		line-height 1.4
		margin-top 0.1em

		h4
			font-size 1.875em
			margin 2.5em 0 0.6em 0
			line-height 1
			&:first-child
				margin-top 0

		p
			margin 0 0 1em 0

		ul
			padding 0 0 0 1em
			margin 0

		li
			font-size inherit

		address
			font-style normal
			font-family BB
			font-size 1.875em
			line-height 1.4

		+below('m')
			margin-top 2em

	&-intro
		width 25%
		font-size 0.875em
		line-height 1.4
		box-sizing border-box
		padding-right 2%
		+below('m')
			width 90%
			margin-top 2em

	&-list
		width 20%
		font-size 0.875em
		line-height 1.4
		+below('m')
			width 90%
			margin-top 2em
		ul
			margin 0

	&-graphic
		position relative
		width 3.5em
		&:after
			content ''
			display block
			padding-bottom 406%
