item_spacing = 30px
.ArchiveList
	width 100%
	padding 0 item_spacing
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	&-item
		width 50%
		width 'calc(50% - %s)' % (item_spacing / 2)
		background-color #ececec
		display inline-block
		position relative
		margin-bottom item_spacing
		&:after
			content ''
			display block
			height 100%
			width 100%
			position absolute
			top 0
			left 0
			z-index 1
			background-color rgba(0, 0, 0, 0)
			transition all 0.2s
		&:hover:after
			background-color rgba(0, 0, 0, 0.4)
		&--black
			color white
		+below('m')
			width 100%

	&-itemTitle
		position absolute
		top (item_spacing * .75)
		left (item_spacing * .75)
		z-index 2
		line-height 0.9
		margin 0
		padding 0
		font-weight normal
		html.no-touchevents &
			opacity 0
			transition all 0.2s
		html.no-touchevents *:hover > &
			opacity 1
			will-change opacity


	&-itemThumb
		height 100%
		width 100%
		position relative
		object-fit cover
		display block
		width 100%
		z-index 1
		img
			display block
			width 100%
			object-fit cover
