item_spacing = 30px
.ArchiveList
	@extend .Section
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	&-item
		width 50%
		width 'calc(50% - %s)' % (item_spacing / 2)
		background-color #ececec
		display inline-block
		margin-bottom item_spacing
		position relative
		&--black
			color black

	&-itemTitle
		position absolute
		top (item_spacing * .75)
		left (item_spacing * .75)
		z-index 2
		line-height 0.9
		margin 0
		padding 0
		font-weight normal

	&-itemThumb
		height 100%
		width 100%
		position relative
		object-fit cover
		display block
		width 100%
		z-index 1
		img
			display block
			width 100%
			object-fit cover
