.Brands
	@extend .Section
	margin 10% auto;

	&-heading
		font-weight normal
		font-size 1.25em
		font-family CB

	&-logos
		position relative
		width 80%
		margin 10% auto 0 auto
		display block
		+below('m')
			width 100%
		img
			display block
