.FromArchive
	@extend .Section
	padding-top 4vw

	&-header
		display flex
		flex-direction row
		justify-content space-between

	&-heading
		margin-bottom 5em

	&-list
		padding 0
	&-item
		font-size (54/16)em
		list-style-type none
	&-super
		font-size 0.3em
		color gray_text
		vertical-align super
