.LatestWork
	width 100%
	position relative
	&:after
		content ''
		display block
		padding-bottom 56.25%
		+below('m')
			padding-bottom 87.2%

	&-content
		height 100%
		padding-top 5%
		padding-bottom 5%
		@extend .Section
		position absolute
		top 0
		left 0
		z-index 1
		box-sizing border-box
		display flex
		flex-direction column
		align-items flex-start
		justify-content space-between

	&-background
		height 100%
		width 100%
		position absolute
		top 0
		left 0
		z-index 0
		background-size cover
		background-position center center
		&--video
			+below('m')
				display none
		&--mobile
			display none
			+below('m')
				display block


	&-heading
		font-family CB

	&-workTitle
		font-family BB
		font-size 3.5em
		line-height 1.07
		+below('m')
			font-size 5.3vw
			padding-right 50%


	&-footer
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-end
		width 100%
