.NextProject
	width 100%
	background-color #121112
	display flex
	flex-direction row
	align-items center
	margin-top 5vw

	&-thumb
		display block
		width 50%
		img
			width 100%
			display block

	&-text
		display block
		width 50%
		text-align center
		font-family BB
		font-size (29/16)em
		padding 2em
		box-sizing border-box
		span
			color gray_text
		&--full
			width 100%
			padding 10vw 0
