.Team
	@extend .Section
	display flex
	flex-direction row

	+below('m')
		flex-direction column
		padding-left 0
		padding-right 0


	&-heading
		@extend .About-heading
		flex-basis 30%
		+below('m')
			padding-left 8%
			padding-right 8%

	&-members
		padding 0
		flex-basis 70%
		margin 0

		+below('m')
			margin-top 2em
			flex-basis 100%

	&-member
		list-style-type none
		padding 0
		margin 0
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-start
		margin-bottom 6em
		+below('l')
			margin-bottom 5em
		+below('m')
			margin-bottom 4em
		a
			text-decoration underline
			&:hover
				text-decoration none
		+below('s')
			flex-direction column

	&-memberProfile
		width 28%
		display block
		height auto
		+below('s')
			width 100%
			margin-bottom 2em

	&-memberBio
		width 67.2%
		+below('m')
			padding-left 8%
			padding-right 8%
		+below('s')
			width 100%
			font-size 0.875em
	&-memberName
		margin-bottom 0
	&-memberPosition
		margin 0

.email-arrow
	width 1.6em
	height 0.74em
	position relative
	display inline-block
	vertical-align middle
	margin-right 0.3em
