<footer class="Footer">
	<div class="Footer-inner">
		<div class="Footer-col">
			<address>
				104 Dover Street,<br>
				Cremorne, Victoria 3121
			</address>
		</div>
		<div class="Footer-col">
			Contact us<br>
			<a href="mailto:hello@sdwm.com.au">hello@sdwm.com.au</a>
		</div>
		<div class="Footer-col">
			Follow us<br>
			{% if site.data.social.twitter %}
			<a href="{{site.data.social.twitter}}" target="_blank" title="Twitter">Twitter</a><br>
			{% endif %}
			{% if site.data.social.instagram %}
			<a href="{{data.social.instagram}}" target="_blank" title="Instagram">Instagram</a>
			{% endif %}
		</div>
		<div class="Footer-col">
			<div class="UpArrow js-back-to-top">
				<svg class="icon">
					<use xlink:href="#up-arrow"></use>
				</svg>
			</div>
		</div>
	</div>
</footer>
