<footer class="Footer">
	<div class="Footer-inner">
		<div class="Footer-col">
			<address>
				104 Dover Street,<br>
				Cremorne, Victoria 3121
			</address>
		</div>
		<div class="Footer-col">
			Contact us<br>
			<a href="mailto:hello@sdwm.com.au">hello@sdwm.com.au</a>
		</div>
		<div class="Footer-col">
			Follow us<br>
			<a href="{{twitter_url}}" target="_blank" title="Twitter">Twitter</a><br>
			<a href="{{instagram_url}}" target="_blank" title="Instagram">Instagram</a>
		</div>
		<div class="Footer-col">
			<div class="UpArrow js-back-to-top">
				<svg class="icon">
					<use xlink:href="#up-arrow"></use>
				</svg>
			</div>
		</div>
	</div>
</footer>
