<nav class="Nav">
	<div class="Nav-inner">
		<ul class="Nav-list">
{% for item in site.data.nav %}
			<li class="Nav-item">
				<a href="{{site.baseurl}}/{{ item.url }}" title="{{item.title}}" class="Nav-link">{{item.title}}</a>
			</li>
{% endfor %}
		</ul>
		<address class="Nav-address">
			<a href="mailto:hello@sdwm.com.au">hello@sdwm.com.au</a><br>
			104 Dover St<br>
			Cremorne, Victoria 3121<br>

		</address>
		<div class="Nav-social">
			<div class="Social">
				{% if site.data.social.twitter %}
				<a href="{{site.data.social.twitter}}" target="_blank" class="Social-link" title="Twitter">
					<svg class="icon social-twitter">
						<use xlink:href="#social-twitter"></use>
					</svg>
				</a>
				{% endif %}
				{% if site.data.social.instagram %}
				<a href="{{site.data.social.instagram}}" target="_blank" class="Social-link" title="Instagram">
					<svg class="icon social-instagram">
						<use xlink:href="#social-instagram"></use>
					</svg>
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
