.Footer
	margin-top 2em
	background-color gray
	font-size 0.875em
	line-height 1.6

	&-inner
		@extend .Section
		height 100%
		display flex
		justify-content flex-start
		align-items flex-start
		padding-top 3em
		padding-bottom 3em
		+below('m')
			flex-direction column
			align-items center

	&-col
		margin-right 52px
		+below('m')
			margin 0 0 1.5em 0
			text-align center
		&:first-child
			margin-right 100px
			+below('m')
				margin 0 0 1.5em 0
		&:last-child
			margin-left auto

	address
		font-style normal
