.Header
	width 100%
	height header-height
	position fixed
	top 0
	left 0
	background-color black
	z-index 1001
	transition all 0.3s
	+below('m')
		height header-height-mobile


	body.our-work-page &
		background-color transparent

	&-inner
		height 100%
		width 100%
		padding 0 5%
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		+below('m')
			padding 0 8%
		+above(1440px)
			width 1420px
			margin 0 auto
			position relative

	&-logo
		width 120px
		height 35px
		position relative
		color white
		display block
		+below('s')
			width 100px
			height 29px
			z-index 1001
