.Header
	width 100%
	height header-height
	position fixed
	top 0
	left 0
	background-color black
	z-index 1001
	transition margin 0.3s
	+below('m')
		height header-height-mobile

	body.home-page &
		position absolute
	body.home-page.hide-header &
		top header-height - header-height - header-height
		position fixed
	body.home-page.show-header &
		margin-top header-height


	// body.our-work-page &
	// 	background-color transparent
	// 	+below('m')
	// 		background-color black

	&-inner
		height 100%
		width 100%
		padding 0 5%
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		+below('m')
			padding 0 8%
		+above(1440px)
			width 1420px
			margin 0 auto
			position relative

	&-logo
		width 120px
		height 35px
		position relative
		color white
		display block
		+below('m')
			width 100px
			height 29px
			z-index 1001
		+below('s')
			width 90px
			height 26px
			z-index 1001
