.Nav
	height 100vh
	width 100%
	background-color #000
	transition all 0.3s
	overflow hidden
	position fixed
	top 0
	left 0
	z-index 1000
	opacity 0
	visibility hidden

	&-inner
		box-sizing border-box
		display flex
		flex-direction column
		align-items flex-start
		justify-content space-between
		padding 5%
		height 100vh
		+above(1440px)
			width 1420px
			position relative
			margin 0 auto
		+below('s')
			flex-direction column

	body.nav-open &
		opacity 1
		visibility visible

	&-list
		padding 0
		margin 0
		width 100%
		+below('s')
			margin-top 2em
			margin-bottom 6em
			width 100%


	&-item
		list-style-type none
		font-family BB
		font-size 6.25em
		line-height 1.1
		margin 0
		padding 0
		color white
		transition all 0.2s linear
		html.no-touchevents ^[0]-list:hover &
			color #231f20
		html.no-touchevents ^[0]-list:hover &:hover
			color white


	&-address
		font-style normal
		font-family M
		font-size 1.5em
		line-height 1.4
		font-weight normal

	&-social
		display none
		+below('s')
			display block
