.Home
	&--grey
		background-color gray

	&-inner
		height 100%
		padding-top 10%
		padding-bottom 10%
		@extend .Section

	&-heading
		font-family CB
		font-size 1.25em


	&-message
		font-family BB
		font-size 3.5em
		line-height 1.07
		margin 3.8em 0
		+below('m')
			font-size 5.8vw
			margin 2em 0
			padding 0 30% 0 0

.Image
	@extend .LoadIn
	width 100%
	padding 0 3% 1em 3%
	min-height 60vw

	img
		display block
		width 100%


.Video
	@extend .LoadIn
	position relative
	width 94%
	margin 0 auto 1em auto
	&:before
		content ''
		display block
		padding-bottom 56.25%

	&-embed,
	iframe
		position absolute
		top 0
		left 0
		height 100%
		width 100%


.Slider
	@extend .LoadIn
	position relative
	width 94%
	margin 0 auto 1em auto
	&-slide
		display block
		width 100%
